{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h4>Project Create</h4>
        </div>
        <div class="m-5">
            <form action="{% url 'projectapp:create' %}"
                  enctype="multipart/form-data"
                  method="post"> {# url acc~app 의 create로 요청을 보내라 #}

                {% csrf_token %}   {# ??보안#}
                {% bootstrap_form form %}
                <div class="m-5"> {# 부모넓이 상속 #}
                    <input type="submit"
                           class="btn btn-dark rounded-pill px-5" > {# 출력버튼 px-5수평방향향#}
                </div>
            </form>
        </div>
    </div>
{% endblock %}