.fragment_logo{
    text-align: center; margin-top: 2rem
}

.fragment_header_logo{
    font-family: 'Nosifer', cursive;, sans-serif;
}
.fragment_header_button{
    margin-bottom: 2rem;
}

.fragment_footer_logo{
    font-family: 'Nosifer', cursive;
    -webkit-transform: rotate(180deg);
}

.fragment_footer_button{
    font-size: 0.9rem;
}

.mw-500{
    max-width: 500px;
    margin: 1rem 1.5rem;
}

.hideline{
    text-decoration: none;
}

.profile_image{
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_N{
    font-family: 'NanumSquareB', cursive;
}

.hr_deg {

/*-webkit-transform: rotate(10deg);*/

transform: rotate(10deg);
}

.hr_3{
    border: 0;
    height: 3px;
    background: black;
}

.round_button{
    color: rebeccapurple;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: 0.3rem;
}
/*none 밑줄제거*/

.round_button:hover {
    color: dimgray;
}

.article_image{
    border-radius: 2rem;
    width: 60%;
    box-shadow: 0 0 1rem gray;
}

.article_content{
    font-size: 1.1rem;
    text-align: left;
    margin: 2rem 0;
}