.fragment_logo{
    text-align: center; margin-top: 2rem
}

.fragment_header_logo{
    font-family: 'Nosifer', cursive;, sans-serif;
}
.fragment_header_button{
    margin-bottom: 2rem;
}

.fragment_footer_logo{
    font-family: 'Nosifer', cursive;
    -webkit-transform: rotate(180deg);
}

.fragment_footer_button{
    font-size: 0.9rem;
}

.mw-500{
    max-width: 500px;
    margin: 1rem 1.5rem;
}

.hideline{
    text-decoration: none;
}

.profile_image{
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_N{
    font-family: 'NanumSquareB', cursive;
}