<div class="fragment_logo hr_deg">
    <div>
        <span>
            <h1 class="fragment_header_logo">
                <a href="{% url 'articleapp:list' %}" class="hideline" style="color: red;">
                        Fragment
                </a>
            </h1>
        </span>
    </div>
    <div class="fragment_header_button">
        <span class="mx-2">
            <a href="{% url 'articleapp:list' %}"
            class="hideline">
                Articles
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'projectapp:list' %}"
            class="hideline">
                Projects
            </a>
        </span>
        {% if user.is_authenticated %}
            <span class="mx-2">
                <a href="{% url 'subscribeapp:list' %}"
                class="hideline">
                    Subscription
                </a>
            </span>
        {% endif %}
        {% if not user.is_authenticated %}
            <span class="mx-2">
                <a href="{% url 'accountapp:login' %}" class="hideline"> Login </a>
            </span>
            <span class="mx-2">
                <a href="{% url 'accountapp:create' %}" class="hideline"> Sign up </a>
            </span>
        {% else %}
            <span class="mx-2">
                <a href="{% url 'accountapp:detail' pk=user.pk %}" class="hideline">  Mypage</a>
            </span>
            <span class="mx-2">
                <a href="{% url 'accountapp:logout' %}" class="hideline">  Logout </a>
             </span>
        {% endif %}
    </div>
</div>