<div class="fragment_logo">
    <div>
        <h1 class="fragment_header_logo">
            Fragment
        </h1>
    </div>
    <div class="fragment_header_button">
        <span>nav1</span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
            <span>
                <a href="{% url 'accountapp:login' %}" class="hideline"> Login </a>
            </span>
            <span>
                <a href="{% url 'accountapp:create' %}" class="hideline"> Sign up </a>
            </span>
        {% else %}
            <span>
                <a href="{% url 'accountapp:detail' pk=user.pk %}" class="hideline">  Mypage</a>
            </span>
            <span>
                <a href="{% url 'accountapp:logout' %}" class="hideline">  Logout </a>
             </span>
        {% endif %}
    </div>
</div>