{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{% static 'beagle.css' %}">

    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h4>Update Article</h4>
        </div>
        <div class="m-5">
            <form action="{% url 'articleapp:update' pk=target_article.pk %}"  {# 객체 접근방식 동일 #}
                  enctype="multipart/form-data"
                  method="post"> {# url acc~app 의 create로 요청을 보내라 #}

                {% csrf_token %}   {# ??보안#}
                {% bootstrap_form form %}
                <div class="m-5"> {# 부모넓이 상속 #}
                    <input type="submit"
                           class="btn btn-dark rounded-pill px-5" > {# 출력버튼 px-5수평방향향#}
                </div>
            </form>
        </div>
    </div>

<script>var editor = new MediumEditor('.editable');</script>

{% endblock %}